<?xml version="1.0" encoding="utf-8" ?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Paste Web Site</title>
<script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
<h1>Paste Web Site</h1>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<form action="" method="post">
  <textarea name="code" cols="80" rows="20"></textarea><br />
  {%if not skip_captcha%}
  <abbr title="Because we can't have nice things. We've collected over 2 million spammers. That's why.">Why CAPTCHA?</abbr>
  <div class="g-recaptcha" data-sitekey="6LfXnhEUAAAAABjptOWpnP-LMNLGxDwq2MrdAPmP"></div>
  {%endif%}
  <input type="submit" value="paste!"/>
</form>
</body>
